.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(33, 37, 41);
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1001;
    color: white;
}

.errorpass {
    color: red;
    font-size: 0.7rem; /* Tamaño de fuente más pequeño */
}

.gameimg {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
}

.small-text {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    color: #6c757d; /* Color gris claro */
}